/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-May-2019, 04:19:05
    Author     : Kevin Pardosi <kevingatpardosi@gmail.com>
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-May-2019, 04:48:34
    Author     : Kevin Pardosi <kevingatpardosi@gmail.com>
*/

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 26%;    
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-body {
    display: flex;
    margin: 11px 10px 0px 0px;
}

.flex-body div:not([class*="flex"]) {
    /*border: 1px solid white;*/
    flex: 1 1 250px;
    /*width: 740px;*/    
}

#seat-row {    
    /*width:100%;*/
    margin: 5px 0p 0px 0px;
    /*background-color: green;*/
}

.seat-available {
    width: 45px;
    height: 45px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    /*background: #9dd7fb;*/
    background: #00e600;
    margin: 5px 0px 0px 0px;
    border-radius: 4px;
}

div.seat-available:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
    background-color: yellow;
}

.seat-occupied {
    width: 45px;
    height: 45px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    /*background: #b8b894;*/
    /*background: #ff9999;*/
    background: #00e600;
    opacity: .3;
    margin: 5px 0px 0px 0px;    
    border-radius: 4px;
}

.passenger-seat{
    width: 50px;
    margin: -2px 0px 0px -2px;
    opacity: .5;
    z-index: -1;
}

.corridor{
    vertical-align: top;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 5px 0px 0px 0px;    
}

p.seat-number{
    position:absolute;
    margin: 0auto;
/*    justify-content: center;*/
    font-size: 1.2em;
    color: white;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
