/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-May-2019, 04:48:34
    Author     : Kevin Pardosi <kevingatpardosi@gmail.com>
*/

.flex-body {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 15px;
}

.flex-body div:not([class*="flex"]) {
/*    border: 1px solid white;*/
    flex: 1 1 250px;
    position: relative;
    box-sizing: border-box;
}

.flex-row {
    /*background-color: #0980cc;*/
    flex-direction: row;
    display: flex;
    width: 26%;   
    height: 100%;
}

.flex-column {
    flex-direction: column;
    display: flex;
    width: 74%;
}

.flex-column div:nth-child(1) {
    width: 99%;
}

.flex-column div:nth-child(2) {
    width: 99%;
}

.flex-column div:nth-child(3) {
    width: 99%;
}

#seat-row {    
    /*width:100%;*/
    margin: 5px 0p 0px 0px;
    /*background-color: green;*/
}

.seat-available {
    width: 45px;
    height: 42px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    justify-content: center;
    line-height: 36px;
    /*background: #9dd7fb;*/
    background: #00e600;
    margin: 3.4px 0px 0px 0px;
    border-radius: 4px;
}

div.seat-available:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
    /*background-color: #006600;*/
    background-color: #e6e600;
}

.seat-occupied {
    width: 45px;
    height: 42px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    justify-content: center;
    line-height: 36px;
    zoom: 1;
    /*background: #b8b894;*/
    /*background: #ff9999;*/
    background: #00e600;
    opacity: .3;
    margin: 3.4px 0px 0px 0px;    
    border-radius: 4px;
}

.passenger-seat{
    width: 50px;
    margin: -4px 0px 0px -2.5px;
    opacity: .5;
    z-index: -1;
}

.corridor{
    vertical-align: top;
    display: inline-block;
    width: 45px;
    /*height: 45px;*/
    margin: 5px 0px 0px 0px;    
}

p.seat-number{
    position:absolute;
    font-size: 1.2em;
    width: 45px;
    height: 45px;
    color: white;
    z-index: 1;
    margin: -2px 0px 0px 0px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.driver-steer{
    display: inline-block;
    width: 92px;
    height: 45px;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
}

.driver-side{
    margin: 0 auto;
    width: 93px;    
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
}

kbd {
  background-color: #eaf5fb;
  color: #333;                
}

li#credit > a span i{
    color: #ceaf27;
}